.bg-primary-600, .color-primary-600{
    background: #ca0508 !important;
}

.bg-primary-900{
    background: #8a0002 !important;
}

.text-primary-600{
    color: #ca0508 !important;
}

li a:hover{
    color: #ca0508 !important;
}

