{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'core//styles//form_card.css' %}">
<link rel="stylesheet" href="{% static 'interns//styles//dashboard.css' %}">
{% endblock styles %}

{% block page_title %}{{ request.user.full_name }}{% endblock page_title %}


{% block content %}
<main class="container">
    <section class="internships">
        <div class="page-header">
            <h1>Hi {{ request.user.full_name }}</h1>
            <p>Browse through your internships below.</p>
        </div>

        <div class="internship-list">
            <ul>
                {% for internship in internships %}
                <li class="internship">
                    <a href="{% url 'interns:internship_detail' internship.pk %}">{{ internship.display_label }}</a>

                    <span class="internship-duration">
                        <p>Duration - {{ internship.duration.days|default:"1" }} days</p>
                        <a 
                            class="delete-internship" 
                            href="{% url 'interns:delete_internship' internship.pk %}" 
                            title="Delete internship record"
                        >
                            Delete
                        </a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="add-internship">
        <div class="form-card ">
            <div class="form-header">
                <h2>Add Internship</h2>
                <p>
                    Kindly fill the form below to add an internship to your profile.
                </p>
            </div>

            <!-- Internship Add Form -->
            <form action="{% url 'interns:create_internship' %}" id="internship-add-form">
                {% csrf_token %}

                <div class="form-fields">
                    <div class="form-field">
                        <label for="internship_type">Internship Type</label>
                        <select id="internship_type" name="internship_type" class="form-input form-select" required
                            autofocus title="Select the type of internship">
                            {% for internship_type in internship_types %}
                            <option value="{{ internship_type.value }}">{{ internship_type.label }}</option>
                            {% endfor %}
                        </select>
                        <small class="field-message"></small>
                    </div>

                    <div class="form-field">
                        <label for="department">Department</label>
                        <select id="department" name="department" class="form-input form-select" required
                            title="Select the department you are interning in">
                            {% for department in departments %}
                            <option value="{{ department.value }}">{{ department.label }}</option>
                            {% endfor %}
                        </select>
                        <small class="field-message"></small>
                    </div>

                    <div class="form-field">
                        <label for="start_date">Internship Start Date</label>
                        <input type="date" id="start_date" name="start_date" class="form-input" required
                            title="What is the date of commencement of your internship?">
                        <small class="field-message"></small>
                    </div>

                    <div class="form-field">
                        <label for="duration">Internship Duration (in days)</label>
                        <input type="number" id="duration" name="duration" class="form-input"
                            placeholder="Duration in days" min="1" required value="30"
                            title="What is the duration of your internship?">
                        <small class="field-message"></small>
                    </div>

                    <div class="form-field">
                        <label for="end_date">Internship End Date</label>
                        <input type="date" id="end_date" name="end_date" class="form-input" required
                            title="What is the anticipated date of completion of your internship?">
                        <small class="field-message"></small>
                    </div>
                </div>

                <div class="submit-btn-wrapper">
                    <button class="btn-primary submit-btn" type="submit">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}


{% block scripts %}
<script src="{% static 'core//scripts//formCard.js' %}"></script>
<script src="{% static 'interns//scripts//addInternship.js' %}"></script>
{% endblock scripts %}
